

#pane {
	-fx-background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Chessboard480.svg/1200px-Chessboard480.svg.png");
	-fx-background-position: center center;
	-fx-background-size: 400px 400px;
	-fx-background-repeat: no-repeat;
}